services:
  web:
    image: ${DOCKER_IMAGE}
    ports:
      - "8081:80"
    restart: always

  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: devops
    restart: always
